{% extends "layout.njk" %}

{% block content %}

    <div class="card table-container">
        <a href="/students/create">Cadastro</a>
        <table width="100%">
            <thead>{# cabeçalho #}
                <tr>{# linha #}
                    <th>Nome completo</th>{# coluna #}
                    <th>Acompanhamento</th>{# coluna #}
                    <th>Ação</th>{# coluna #}
                </tr>
            </thead>
            <tbody>
                {% for students in student %}
                    <tr>
                       <td>
                        <span style="background-image: url({{students.avatar_url}})"></span>
                         {{ students.name }}</td>
                        <td>{{ teachers.subjects_taught }}</td>
                        <td><a href="/students/{{ students.id }}">ver</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}