{% extends "layout.njk" %}

{% block content %}

    <div class="card">
        <section class="avatar" style="background: url({{ student.avatar_url }}) no-repeat center center/cover">
        </section>

        <section class="details">
            <h3>Detalhes</h3>

            <div class="item">
                <div>Nome completo</div>
                <div>{{student.name }}</div>
            </div>

            <div class="item">
                <div>Idade</div>
                <div>{{ student.age }}</div>
            </div>

            <div class="item">
                <div> Grau de escolaridade</div>
                <div>
                    <span>{{ student.education_level }}</span>
                </div>
            </div>

            <div class="item">
                <div>Tipo de aula</div>
                     <span>{{ "Presencial" if student.class_type == "P" else "Á distância" }}</span>
                 </div>

            <div class="item">
                <div>Acompanhamento</div>
                <div>
                    {% for subject in student.subjects_taught %}
                        <span>{{subject}}</span>
                    {% endfor %}
                </div>
            </div>

            <div class="item">
                <div>Desde</div>
                 <div>{{student.created_at}}</div>
            </div>

            <a href="/student/{{ student.id }}/edit" class="button">Editar</a>

        </section>
    </div>

{% endblock %}