<!DOCTYPE html>
<html>

    <head>

        {% block head %}
            <title>private lessons</title>
        {% endblock %}

        <link rel="stylesheet" href="/styles.css">
    </head>

    <body>
        <!-- Corpo -->

        <header>
            <!-- CABEÇALHO DOS LINKS -->
            <div class="links">
                <a href="/">Teachers</a>
                <!-- links -->
                <a href="/students">Students</a>
            </div>
        </header>

        {% block content %}{% endblock %}

    </body>
</html>